// Colors
// Primary
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue:hsl(208, 49%, 24%);
// Neutral
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(208, 49%, 24%);
// Gradients
// Background gradient - Intro/CTA mobile nav:
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);
// Background gradient - body:
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

//Fonts
$overpass: 'Overpass', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
}

#root {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(45, 17, 201);
}